header {
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

.act1 {
    margin: 5em;
    border: solid black;
    padding: 1em;
}

nav>ul {
    display: flex;
    list-style-type: none;
    padding: 14px 0 14px 0;
    /*When three values are specified, the first margin applies to the top, the second to the right and left, the third to the bottom.*/
    margin: -8px -8px -8px;
    background-color: white;
    border: 1px dashed red;
}

li a {
    border: 1px solid #000;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
}

.navbar1 {
    margin: 1em;
    justify-content: flex-end;
}

.navbar2 {
    margin: 1em;
    justify-content: flex-start;
}

.navbar3 {
    margin: 1em;
    justify-content: flex-end;
}

.navbar4 {
    margin: 1em;
    justify-content: center;
}

.link1 {
    margin-right: auto;
}

.link5 {
    margin-left: auto;
}

.navbar12 {
    justify-content: space-between;
}

.navbar22 {
    justify-content: flex-start;
}

.link422 {
    margin-left: auto;
}

.navbar32 {
    justify-content: center;
}
.link332{
    margin-left: 37%;
    margin-right: 37%;
} 

.navbar42 {
    /* justify-content: center; */
    align-items: stretch;
}

 /* .link442{
    
    margin-left: 24%;
} 

 .link142{
    align-items: flex-start;
} 

.link242{
    display: flex;
    margin-left: auto;
} */

/* .link342{
    display: flex;
    margin-right: 25%;
}  */